{% load website_tags cache compress static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | Burke Software and Consulting{% endblock %}</title>

        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700" rel="stylesheet" type="text/css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


        {# External stylesheets #}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        {# Local static assets such as css, images and javascript should be stored at [yourapp]/static/[yourapp]/... #}
        {% compress css %}
            {# Vendor stylesheets stored locally #}
            <link rel="stylesheet" href="{% static "website/css/vendor/jquery.bxslider.css" %}" />

            {# Custom stylesheets #}
            {# SCSS compilation relies on django compressor #}
            <link rel="stylesheet" type="text/x-scss" href="{% static "website/css/main.scss" %}" />

        {% endcompress %}

        {% block extra_css %}{% endblock %} {# Override this block in individual templates in order to add stylesheets on a template by template basis #}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script defer data-domain="burkesoftware.com" src="https://plausible.io/js/plausible.js"></script>

    </head>

    <body class="{% block body_class %}{% endblock %}"> {# Override this block to set custom body classes on a template by template basis #}

        {% wagtailuserbar %}

        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}

        {% block hero_cover %}
        {% endblock %}

        <div class="container theme-showcase">
            
            {% block search_box %}
                {# include "website/includes/search_box.html" only #}
            {% endblock %}

            {% block heading %}
                <!--div class="row page-header">
                    <h2>{{ self.title }}</h2>
                </div-->
            {% endblock %}

            {% block content %}

            {% endblock %}

            {% block secondary_menu %}
                {# secondary_menu calling_page=self #}
            {% endblock %}

            {% block adverts %}
                {# Uses a snippet - allows adverts to appear on every page #}
                {# adverts #}
            {% endblock %}


        </div>

        {% block footer %}
            {% include "website/includes/footer.html" %}
        {% endblock %}

        {# External javascript #}
        <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

        {% compress js %}
            <script src="{% static "website/js/vendor/jquery.bxslider.min.js" %}"></script>
            <script src="{% static "website/js/vendor/fluidvids.js" %}"></script>
            {# Custom javascript #}
            {# Local static assets such as css, images and javascrpt should be stored at [yourapp]/static/[yourapp]/... #}
            <script src="{% static "website/js/main.js" %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %} {# Override this block in individual templates in order to add javascript on a template by template basis #}
    </body>
</html>
