{% extends "website/base.html" %}
{% load pageurl wagtailimages_tags website_tags static %}

{% block hero_cover %}
    {% image self.header_image width-2000 as heroimagedata %}
    <div class="content-header" style="background-image: url('{{ heroimagedata.url }}');">
        <div class="container">
            <div>
                <h2{% if self.intro %} class="has-intro-text"{% endif %}>{{ self.title }}</h2><br />
                {% if self.intro %}
                <p>{{ self.intro|safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% if request.GET.tag|length %}
        <h4>Showing posts tagged as {{ request.GET.tag|safe }} <a href=" {% pageurl self %} ">Show all</a></h4>
    {% endif %}

    <div class="row">
        {# Uses serve method defined in models.py - allows for paging if required #}
        {# See also standard index for creating a listing with a tag #}
        {% for blog in blogs %}
        {% if forloop.counter == 1 %}
        <div class="col-xs-12 blog-index-latest-item">
        {% else %}
        <div class="col-lg-3 col-md-6 blog-index-list-item">
        {% endif %}
            <h4>
                <a href="{% pageurl blog %}">{{ blog.title }}</a>
            </h4>
            <div class="meta">
                {{ blog.date|date:"F j, Y" }} 
                {% if blog.owner.first_name %} &nbsp;//&nbsp; {{ blog.owner.first_name }}{% endif %}
            </div>
            <p>
                {% if blog.search_description %}
                    {{ blog.search_description }}
                {% else %}
                    {{ blog.body|striptags|truncatewords:40 }}
                {% endif %}
            </p>
        </div>
        {% if not forloop.counter|divisibleby:2 %}
            {% if forloop.counter == 1 %}
            <div class="clearfix"></div>
            {% else %}
            <div class="clearfix visible-md"></div>
            {% endif %}
        {% endif %}
        {% empty %}
            No blogs found
        {% endfor %}
    </div>

    {# Pagination - uses django.core.paginator #}
    {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}
    <div class="row">
        <div class="col-sm-4 previous">
            {% if blogs.has_previous %}
                <a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a>
            {% endif %}
        </div>
        <div class="col-sm-4 pages">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
        </div>
        <div class="col-sm-4 next">
            {% if blogs.has_next %}
                <a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a>
            {% endif %}
        </div>
    </div>

    {% include "website/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}