{% extends "website/base.html" %}
{% load website_tags wagtailimages_tags static %}

{% block hero_cover %}
	{% image self.carousel_items.first.image width-2000 as heroimagedata %}
    <div id="hero" style="background-image: url('{{ heroimagedata.url }}');">
		<div class="hero-strip">
			<div><div>
				<div class="hero-cell hero-image-cell">
					<img src="{% static 'website/images/bsc-logo.svg' %}" />
				</div>
				<div class="hero-cell">
					<h1>
						We partner with
						<div class="slide-words">
							<span class="slide-word active">schools</span>
							<span class="slide-word">nonprofits</span>
							<span class="slide-word">businesses</span>
							<span class="slide-word">agencies</span>
						</div>
						<br />
						to make technology work<br />
						for everyone.
					</h1>
				</div>
			</div></div>
		</div>
	</div>
{% endblock %}

{% block heading %}{% endblock %}

{% block content %}
    {# include "website/includes/carousel.html" with carousel_items=self.carousel_items.all only #}

    {# include "website/includes/body.html" with body=self.body only #}

    {% product_listing_homepage %}

    {% person_listing_homepage %}

{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {

	$('#hero').css('height',$(window).height());
	$(window).resize(function() {
		$('#hero').css('height',$(window).height());
	});

	slideshowTimer = setInterval( function() {
		moveSlide();
	}, 3000 );

	function moveSlide() {
		var active     = $('.slide-word.active');

		if (active.next('.slide-word').length > 0) {
			nextActive = active.next('.slide-word');
		} else {
			nextActive = $('.slide-word').first('.slide-word');
		}

		active.fadeOut('slow', function() {
			nextActive.fadeIn('slow',function() {
				active.removeClass('active');
				nextActive.addClass('active');	
			})
		});
	}

	var scrollTop = $(this).scrollTop();
	var heroHeight = $('#hero').height();
	var heroStripHeight = $('.hero-strip').height();

	if (scrollTop < heroHeight/2 + heroStripHeight/2) {
		$('.navbar-brand').hide();
	}
	
	$(document).scroll(function() {
		scrollTop = $(this).scrollTop();
		
		if (scrollTop > heroHeight/2 + heroStripHeight/2) {
			$('.navbar-brand').fadeIn();
		} else {
			$('.navbar-brand').fadeOut();
		}
	});
});
</script>
{% endblock %}