{% extends "website/base.html" %}
{% load wagtailcore_tags wagtailimages_tags website_tags wagtailembeds_tags static %}

{% block hero_cover %}
    {% if self.header_image %}
        {% image self.header_image width-2000 as heroimagedata %}
    {% else %}
        {% image self.get_product_index.header_image width-2000 as heroimagedata %}
    {% endif %}
    <div class="content-header" style="background-image: url('{{ heroimagedata.url }}');">
        <div class="container">
            <div>
                <h2 class="has-intro-text">{{ self.product_index.title }}</h2><br />
                <p>{{ self.title }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="product-body">
        {{ self.body|richtext }}
    </div>

    {% if self.feature_items and self.feature_items.count > 0 %}
        <div class="feature-item-list">
            {% for feature_item in self.feature_items.all %}
            <div class="row">
                {% if feature_item.long_caption and not feature_item.long_caption|striptags == "" %}
                <div class="col-xs-12 col-md-6 caption-column">
                {% elif feature_item.short_caption %}
                <div class="col-xs-12 col-md-4 caption-column">
                {% else %}
                <div class="col-xs-12 caption-column">
                {% endif %}
                    
                    {# if feature_item.long_caption #}
                    {% if feature_item.long_caption and not feature_item.long_caption|striptags == "" %}
                        {% if feature_item.optional_title %}
                        <h4>
                            {{ feature_item.optional_title }}
                        </h4>
                        {% endif %}
                        {% if feature_item.short_caption %}
                        <div class="feature-short-caption-with-long{% if not feature_item.optional_title %}-no-title{% endif %}">
                            {{ feature_item.short_caption }}
                        </div>
                        {% endif %}
                        <div class="feature-long-caption">
                            {{ feature_item.long_caption|richtext }}
                        </div>
                    {% else %}
                        {% if feature_item.optional_title %}
                        <h4{% if not feature_item.short_caption and not feature_item.long_caption or feature_item.long_caption|striptags == "" %} class="text-center"{% endif %}>{{ feature_item.optional_title }}</h4>
                        {% endif %}
                        {% if feature_item.short_caption %}
                        <div class="feature-short-caption{% if not feature_item.optional_title %}-no-title{% endif %}">
                            {{ feature_item.short_caption }}
                        </div>
                        {% endif %}
                    {% endif %}
                </div>

                {% if feature_item.long_caption and not feature_item.long_caption|striptags == "" %}
                <div class="col-xs-12 col-md-6">
                {% elif feature_item.short_caption %}
                <div class="col-xs-12 col-md-8">
                {% else %}
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                {% endif %}
                    {% image feature_item.image width-1000 as feature_image_data  %}
                    <a href="{% if feature_item.link %}{{ feature_item.link }}{% else %}{{ feature_image_data.url }}{% endif %}">
                        <img src="{{ feature_image_data.url }}" width="{{ feature_image_data.width }}" height="{{ feature_image_data.height }}" alt="{{ feature_image_data.alt }}" class="img-responsive">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="sub-product-list">
        <div class="row">
        {% for sub_product in sub_products %}
            <div class="col-sm-6">
                <div class="media products">
                    {% if sub_product.key_image %}
                    <a class="product-key-image pull-left" href="{% pageurl sub_product %}">
                        {% image sub_product.key_image fill-200x200 class="media-object img-responsive" %}
                    </a>
                    {% endif %}
                
                    <div class="media-body">
                        <a href="{% if sub_product.divert_to_external_url %}{{ sub_product.divert_to_external_url }}{% else %}{% pageurl sub_product %}{% endif %}"><h4>{{ sub_product.title }}</h4></a>
                        <p>{{ sub_product.intro }}</p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
            </div><div class="row">
            {% endif %}
        {% endfor %}
        </div>
    </div>

    {% include "website/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
