{% extends "website/base.html" %}
{% load wagtailcore_tags wagtailimages_tags website_tags wagtailembeds_tags static %}

{% block hero_cover %}
    {% if self.header_image %}
        {% image self.header_image width-2000 as heroimagedata %}
    {% else %}
        {% image self.get_product_index.header_image width-2000 as heroimagedata %}
    {% endif %}
    <div class="content-header" style="background-image: url('{{ heroimagedata.url }}');">
        <div class="container">
            <div>
                <h2 class="has-intro-text">{{ self.product_index.title }}</h2><br />
                <p>{{ self.title }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="product-body">
        {{ self.body|safe }}
    </div>

    {% if self.feature_items and self.feature_items.count > 0 %}
        <div class="feature-item-list">
        {% for feature_item in self.feature_items.all %}
            <a href="{{ feature_item.link }}">
                {% if feature_item.embed_url %}
                    {# Embedded video - requires an embedly key to be stored in wagtailwebsite/settings/local.py #}
                    {{ feature_item.embed_url|embed:1000 }}
                {% else %}
                    {# Carousel image - first store image as a variable in order to construct an image tag with a title applied (title is used by bxslider js to construct the caption) #}
                    {% image feature_item.image width-1000 as feature_image_data %}
                    <img src="{{ feature_image_data.url }}" width="{{ feature_image_data.width }}" height="{{ feature_image_data.height }}" alt="{{ feature_image_data.alt }}" title="{{ feature_item.caption }}" />
                {% endif %}
            </a>
        {% endfor %}
        </div>
    {% endif %}

    <div class="sub-product-list">
        <div class="row">
        {% for sub_product in sub_products %}
            <div class="col-sm-6">
                <div class="media products">
                    {% if sub_product.key_image %}
                    <a class="product-key-image pull-left" href="{% pageurl sub_product %}">
                        {% image sub_product.key_image fill-200x200 class="media-object img-responsive" %}
                    </a>
                    {% endif %}
                
                    <div class="media-body">
                        <a href="{% pageurl sub_product %}"><h4>{{ sub_product.title }}</h4></a>
                        <p>{{ sub_product.intro }}</p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
            </div><div class="row">
            {% endif %}
        {% endfor %}
        </div>
    </div>

    {% include "website/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
