{% extends "website/base.html" %}
{% load wagtailcore_tags wagtailimages_tags website_tags wagtailembeds_tags static %}

{% block hero_cover %}
    {% image self.feed_image width-2000 as heroimagedata %}
    <div class="content-header" style="background-image: url('{{ heroimagedata.url }}');">
        <div class="container">
            <div>
                <h2{% if self.intro and self.intro|striptags != "" %} class="has-intro-text"{% endif %}>{{ self.title }}</h2><br />
                {% if self.intro and self.intro|striptags != "" %}
                <p>{{ self.intro|safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include "website/includes/intro.html" with intro=self.intro only %}

    {% include "website/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

    {% include "website/includes/body.html" with body=self.body only %}

    {% include "website/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
