{% extends "website/base.html" %}
{% load wagtailcore_tags website_tags static %}

{% block hero_cover %}
    <div class="content-header" style="background-image: url('{% static 'website/images/sample-content-header-3.png' %}'); background-color: transparent; background-position: center center; background-size: cover; ">
    	<div class="container" style="display: table;">
	    	<div style="display: table-cell; vertical-align: bottom; height: 300px; width: 1200px;">
		        <h2 style="background-color: #07f; color: #fff; display: inline-block; padding: 7px; margin-bottom: 30px; font-size: 36px;">{{ self.title }}</h2>
	        </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include "website/includes/intro.html" with intro=self.intro only %}

    {# Listing created with a tag - allows filtering by whether the page is live #}
    {# See also the blog index or events index where the listing is created from a method defined in models.py #}
    {% standard_index_listing calling_page=self %}

    {% include "website/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
