{% load wagtailcore_tags image_tags %}

{# Individual blog item in a list - used on blog index and home page #}
<div class="col-lg-4 col-md-6 home-blog-list-item{% if forloop.counter == 3 %} hidden-md{% endif %}">
    <h4>
        <a href="{% pageurl blog %}">{{ blog.title }}</a>
    </h4>
    <div class="meta">
        {{ blog.date|date:"F j, Y" }} 
        {% if blog.owner.first_name %} &nbsp;//&nbsp; {{ blog.owner.first_name }}{% endif %}
    </div>
    <p>
        {% if blog.search_description %}
            {{ blog.search_description }}
        {% else %}
            {{ blog.body|striptags|truncatewords:40 }}
        {% endif %}
    </p>
</div>