{% load website_tags static wagtailcore_tags %}
{% get_site_root as site_root %}
<footer id="main-footer" style="background-image: url('{% static 'website/images/footer2.png' %}');">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-4">
        <p>We&rsquo;d love to partner with you. Here's how to get a hold of us:</p>
        <div><a href="mailto:info@burkesoftware.com" class="colored">info@burkesoftware.com</a></div>
      </div>
      <div class="col-sm-4 col-md-4">
        <p>Here&rsquo;s where we are most active online:</p>
        <span><a href="https://gitlab.com/burke-software/" class="grayscale">GitLab</a></span>
        <span><a href="https://github.com/burke-software/" class="grayscale">GitHub</a></span>
      </div>
      <div class="col-sm-3 col-md-4">
        <a href="{% pageurl site_root %}" class="footer-brand"><img src="{% static 'website/images/bsc-logo-gray.svg' %}" alt="{{ site_root.title }}" /></a>
        <div>Burke Software and Consulting LLC</div>
        <div>&copy; {% now "Y" %} - All Rights Reserved.</div>
        <div>Robots lovingly delivered by <a href="http://www.robohash.org">Robohash.org</a></div>
      </div>
    </div>
  </div>
</footer>
