{% load website_tags static pageurl %}
{% get_site_root as site_root %}
<footer id="main-footer" style="background-image: url('{% static 'website/images/footer2.png' %}');">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p>We&rsquo;d love to partner with you. Here's how to get a hold of us:</p>
        <div><a href="tel:+15555555555" class="colored">1-800-STV-JOBS</a></div>
        <div><a href="mailto:david@burkesoftware.com" class="colored">david@burkesoftware.com</a></div>
      </div>
      <div class="col-xs-4">
        <p>We&rsquo;re not super active on social media. Unless you count GitHub, then we're very active! Here's where to find us:</p>
        <span><a href="https://github.com/burke-software/" class="grayscale">GitHub</a></span>
        <span><a href="https://plus.google.com/+Burkesoftware/" class="grayscale">Google+</a></span>
        <span><a href="https://www.linkedin.com/company/burke-software-and-consulting" class="grayscale">LinkedIn</a></span>
      </div>
      <div class="col-xs-4">
        <a href="{% pageurl site_root %}" class="footer-brand"><img src="{% static 'website/images/bsc-logo-gray.svg' %}" alt="{{ site_root.title }}" /></a>
        <div>Burke Software and Consulting LLC</div>
        <div>&copy; {% now "Y" %} - All Rights Reserved.</div>
      </div>
    </div>
  </div>
</footer>