/* fonts */
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* Carousel styling */
.bx-wrapper {
	width: 100%;
	margin-left: 0;
}

.bx-wrapper img {
	width: 100%;
	height: auto;
}

/* Nav */
.navbar-default {
	background-image: none;
	background-color: #ffffff;
	background-color: rgba(255,255,255,0.8);
	border-color: transparent;
}

.navbar-brand {
	display: none;
	padding: 10px 15px;

	img {
		height: 30px;
	}
}


/* body image styles - classes supplied by rich text editor */
.body-content {
	width: 100%;
	overflow: hidden;
	clear: both;
	img {
		margin-bottom: 2%;
		margin-top: 2%;
	}

	img.full-width {
		width: 100%;
	}

	img.left {
		width: 45%;
		margin-right: 5%;
		float: left;
	}

	img.right {
		width: 45%;
		margin-left: 5%;
		float: right;
	}

	h2, h3, h4, h5 {
		clear: both;
	}
}

/* List styling - tweaks to include images */

a.list-group-item {
	clear: both;
	width: 100%;
	overflow: hidden;
	.list-group-item-text {
		margin-top: 1%;
		img {
			float: left;
			margin-right: 2%;
			margin-bottom: 1%;
		}
	}
}

/* Style pager */
.col-sm-4.pages {
        text-align: center;
}

.col-sm-4.next {
        text-align: right;
}


/* Hero */
#hero {
	height: 100%;
	position: relative;
	background-color: transparent;
	background-position: center center;
	background-size: cover;
}

.hero-strip {
	position: relative;
	top: 50%;
	width: 100%;
	height: 200px;
	margin-top: -100px;
	background-color: rgba(255, 255, 255, 0.5);

	> div {
		display: table;
		height: 200px;
		width: 600px;
		margin: 0 auto;
	}

	.hero-cell {
		display: table-cell;
		vertical-align: middle;
	}

	.hero-image-cell {
		width: 218px;
	}

	img {
		height: 85px;
		width: 193px;
	}

	h1 {
		font-size: 1.75em;
		line-height: 1.5em;
		color: #0071BC;
		border-left: 1px solid #0071BC;
		padding-left: 25px;
	}
}

.slide-words {
	display: inline-block;
	background-color: #2CB45D;
	color: #fff;
	padding: 0 5px;
	overflow: hidden;
	vertical-align: bottom;
	width: 140px;
	height: 38px;
	text-align: center;

	.slide-word {
		display: none;

		&:first-child {
			display: inline;
		}
	}
}